html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="styles.styl")
		script(defer, src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
		title Elie's Blog
	body#body
		section#main-banner.hero.is-primary.is-medium
			.hero-body
				.columns.is-centered
					.column
						h1.title ELIE'S BLOG
						.columns.is-centered
							a.column(href="#") PORTFOLIO
							a.column(href="#") ABOUT ME
							a.column(href="#") BLOG
							a.column(href="#") CONTACT
						button.button.is-outlined.is-inverted.is-primary HELLO 👋

		section.section#gallery.columns.is-centered
			.column
				.block
					h1.title Crafted for Creatives
					h2.subtitle Pictures go down there 👇
				.block
					.tile.is-ancestor
						img.tile.is-4.is-parent(src="beach.jpg")
						.tile.is-4.is-parent.is-vertical
							img.tile.is-child(src="beach.jpg")
							img.tile.is-child(src="beach.jpg")
						img.tile.is-4.is-parent(src="beach.jpg")

		section.section#about-me.columns.is-centered
			.column
				.level.columns.is-centered
					.column
						h1.title ABOUT ME
				.level
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum molestias dolorum ipsum voluptatem, officia temporibus animi qui quam consequatur. Deserunt enim, recusandae suscipit distinctio sed nemo? Eligendi cumque provident ullam.
				.level.columns.is-centered
					.column.buttons
						a.button(href="#")
							span.icon.is-small
								i.fab.fa-instagram
						a.button(href="#")
							span.icon.is-small
								i.fab.fa-facebook
						a.button(href="#")
							span.icon.is-small
								i.fab.fa-twitter
						a.button(href="#")
							span.icon.is-small
								i.fab.fa-pinterest
