html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="styles.styl")
		script(defer, src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
		title Elie's Blog
	body#body
		section#main-banner.hero.is-primary.is-medium.has-text-centered
			.hero-body.container
				.level
					h1.title.level-item.has-text-centered ELIE'S BLOG
				.level
					.columns.level-item
						a.column(href="#") COLLECTION
						a.column(href="#") OUR STORY
						a.column(href="#") BLOG
						a.column(href="#") CONTACT
				.level.columns.is-centered
					button.column.button.is-outlined.is-inverted.is-primary HELLO 👋

		section.section#gallery.columns.is-centered
			.column
				.block
					h1.title Crafted for Creatives
					h2.subtitle Pictures go down there 👇
				.block
					.tile.is-ancestor
						img.tile.is-4.is-parent(src="beach.jpg")
						.tile.is-4.is-parent.is-vertical
							img.tile.is-child(src="beach.jpg")
							img.tile.is-child(src="beach.jpg")
						img.tile.is-4.is-parent(src="beach.jpg")

		section.section#our-story.columns.is-centered
			.column.block
				h1.title Our story
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum molestias dolorum ipsum voluptatem, officia temporibus animi qui quam consequatur. Deserunt enim, recusandae suscipit distinctio sed nemo? Eligendi cumque provident ullam.

		section.section#blog-link
			.level.columns.is-centered
					button.column.button.is-outlined.is-inverted.is-primary READ THE BLOG
