$primary = #f7eee5
bgColor = #ffffff
accentColor = #f0f6f6
textColor = #262626

@import "../../node_modules/bulma-stylus/bulma"

#body
	background bgColor
	color textColor

	section.section
		*
			max-width 50rem
			text-align center

	button
		max-width 15rem
		border 0.1rem solid textColor

	#main-banner
		height 100vh
		background-image url("beach.jpg")
		background-size cover
		background-repeat no-repeat

		*
			color textColor

		h1.title
			font-weight bold

		.hero-body
			max-width 30rem
			display grid
			grid-template-rows 1fr 1fr 4fr

	#our-story
		background accentColor

	#blog-link
		height 60vh
		background-image url("beach.jpg")
		background-size cover
		background-repeat no-repeat

		button
			max-width 15rem
			color textColor
